### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/encodings.xml
/java_school.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/out1.txt
/wetterdaten_feldberg.csv
/src/school/streams/text_saver/out1.txt
/src/school/streams/wetterdaten_csv/wetterdaten_feldberg.csv
/src/school/streams/wetterdaten_csv/wetterdaten_auswertung.txt
/src/school/streams/wetterdaten_csv/wetterdaten_auswertung_lsg.txt
/.idea/inspectionProfiles/Project_Default.xml
